
<h1>Create a new User Account : </h1>

<form action="" method="POST">
{% csrf_token %}
{% comment %} {{form.as_p}} {% endcomment %}

{{form.username.label}} : {{form.username}}  <br>
{{form.email.label}} : {{form.email}} <br>
{{form.password1.label}} : {{form.password1}} <br>
{{form.password2.label}} : {{form.password2}} <br>

{{form.errors}}
<br>
<script src="https://www.google.com/recaptcha/api.js "></script>
<div class="g-recaptcha" data-sitekey="6LeBC4snAAAAACjv-bQ4SCKFW6OHGC2TcLTTCOe5"></div>
<button type="submit">Register</button>
</form>